.nav-list-item:nth-child(2) a {
  border-bottom: 1px solid var(--black-color);
  color: var(--black-color);
}
body {
  width: 100%;
}
main {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  margin: 150px auto 30px auto;
  font-size: 44px;
  max-width: 1200px;
  font-family: "Tangerine", serif;
}
main a.facebook-link {
  display: block;
  text-decoration: none;
  color:var(--black-color) ;
  text-align: center;
  font-size: 25px;
}
main a.facebook-link:hover {
  color: var(--gold-color);
}
@media (max-width: 1200px) {
  h1 {
    font-size: 40px;
    max-width: 900px;
  }
  main a.facebook-link{
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 38px;
    max-width: 530px;
  }
  main a.facebook-link{
    font-size: 18px;
  }
}
@media (max-width: 530px) {
   h1 {
    font-size: 30px;
    margin: 150px 40px 30px;
  }
  main a.facebook-link{
    font-size: 16px;
  }
}
